/* Shape cells */
.horizontal {
  display: flex;
  background-color: rgb(255, 255, 255);
  justify-content: center;
}

/* Animation */
@keyframes symbol-appear {
  from {
    transform: scale(0.01);
  }
  to {
    transform: scale(1);
  }
}

svg {
  animation-name: symbol-appear;
  animation-duration: 0.15s;
  border: 5px solid rgb(0, 0, 0);
  border-radius: 20%;
  background-color: rgb(226, 40, 40);
  padding: 10px;
  margin: 2px;
}

/* Restart the game button */
.reset-game {
  margin-top: 25px;
  display: inline-block;
  padding: 10px 80px;
  border: 3px solid rgb(51, 2, 2);
  border-radius: 50px;
  box-sizing: border-box;
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  color: #000000;
  text-align: center;
  transition: all 0.5s;
  background-color: rgb(255, 255, 255);
}

.reset-game:hover {
  padding: 12px 83px;
  font-size: 20px;
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
}

/* Open a space above result */
.result {
  margin-top: 25px;
}

/* Center header of the game */
h1 {
  text-align: center;
  margin: 25px auto;
  border: 1px solid black;
  border-radius: 50px;
  padding: 20px;
  background-color: black;
  color: white;
  width: 55%;
}

h2 {
  text-align: center;
}

/* Center everything inside the board */
.board {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
